@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("fonts/sanfranciscodisplay-ultralight-webfont.woff");
}
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("fonts/sanfranciscodisplay-thin-webfont.woff");
}
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("fonts/sanfranciscodisplay-regular-webfont.woff");
}
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("fonts/sanfranciscodisplay-medium-webfont.woff");
}
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("fonts/sanfranciscodisplay-semibold-webfont.woff");
}
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("fonts/sanfranciscodisplay-bold-webfont.woff");
}

html {
  height: 100%;
}

body {
	font-family: 'San Francisco', sans-serif;
	font-size: 16px;
	font-weight: 600;
	padding: 0 25px;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	background: #000;
	color: #fff;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.titlebar.webkit-draggable {
  position: fixed;
  z-index: 999;
  top: 5px;
  width: 100%;
  left: 5px;
  background: none;
}

.text-center {
  text-align: center;
}

input[type="email"], 
input[type="number"], 
input[type="search"], 
input[type="text"], 
input[type="tel"], 
input[type="url"], 
input[type="password"], 
textarea, 
select {
  background: none !important;
  border-radius: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
  border-bottom: 1px solid #fff !important;
  padding: 0 !important;
  min-height: 40px;
}

.button-primary {
  font-weight: 600 !important;
  font-size: 16px !important;
  background: #27C93F !important;
  border-radius: 2px !important;
  border-color: #1AAB29 !important;
}

.button-primary .lnr {
  font-weight: bold;
  font-size: 11px;
  position: relative;
  top: -1px;
}

.button-danger {
  background: #E0443E !important;
  border-color: #E0443E !important;
}

.hidden {
  display: none;
}

.panel {
  width: 100%;
  top: 0;
}

h1 {
  margin-top: 0;
  position: relative;
  transition: 0.4s ease-out;
  top: 0;
}

h1 .lnr-camera {
  position: relative;
  top: 7px;
}

ul {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}

.choices {
  margin-top: 20px;
}

.choices > span {
  display: inline-block;
  width: 210px;
  vertical-align: top;
  max-height: 300px;
  overflow: scroll;
  text-align: left;
  background: rgba(255,255,255,0.03);
  padding: 17px 20px;
  border-radius: 2px;
}

.choices > span + span {
  padding-right: 1%;
  margin-left: 3%;
}

.choices > span .lnr {
  font-size: 40px;
}

label.control {
  font-weight: 500;
  font-size: 16px;
  text-align: left;
}

.loading,
.done {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: rgba(0,0,0,0.8);
  display: none;
}

.done {
  text-align: center;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 25% auto 0;
  box-shadow: inset 0px 0px 0px #7ac142;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
}

.checkmark.active {
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark.active .checkmark__circle {
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark.active .checkmark__check {
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}


.loading img {
  width: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -30px;
  margin-left: -30px;
}

.loading p {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 50px;
  margin-left: -85px;
}